@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(34, 192, 60, 0.9);
    box-shadow: 0 0 0 0 rgba(34, 192, 60, 0.7);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(34, 192, 60, 0);
    box-shadow: 0 0 0 10px rgba(34, 192, 60, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(34, 192, 60, 0);
    box-shadow: 0 0 0 0 rgba(34, 192, 60, 0);
  }
}

.pulse {
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(34, 192, 60, 0.9);
  animation: pulse 2s infinite;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
