.no-resize {
    resize: none;
}

.no-shadow,
.no-shadow:focus:focus,
.no-shadow-hover:hover {
    box-shadow: none;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-spinners {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
}


/* table */

@include dir {
    table.px-0 tr td {
        &:first-of-type {
            padding-#{$left}: 0;
        }

        &:last-of-type {
            padding-#{$right}: 0;
        }
    }
}

fieldset:last-of-type:not([class*="mb-"]) {
    margin-bottom: 0;
}

.custom-select.text-center {
    text-align-last: center;
}

.index-up {
    z-index: 999999999;
}

.nowrap {
    white-space: nowrap;
}

/* global */

.btn.btn-disabled {
    cursor: not-allowed;
}